<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ("../include/declare.ejs") %>
    <style>
      div#div_member_list th {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <%- include ("../include/header.ejs") %>

    <div class="container">
      <div class="row">
        <div class="panel panel-primary" style="width: 100%;">
          <div class="panel-heading">
            <h3 class="panel-title">관리자목록</h3>
          </div>
          <div class="row" style="padding: 5px;">
            <div class="col-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="txt_search">검색</span>
                </div>
                <input
                  type="text"
                  name="query"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="txt_search"
                />
              </div>
            </div>
            <div class="col-4" style="padding-top: 5px;">
              <div class="form-check">
                <button
                  class="btn btn-info btn-sm"
                  id="btn_membership_fee"
                  data_status="A"
                  style="width: 10em;"
                >
                  회비납부 - 전체
                </button>
              </div>
            </div>
            <div class="col-4" style="text-align: right;">
              <a href="register"
                ><button class="btn btn-primary btn-sm">관리자추가</button></a
              >
              <button class="btn btn-secondary btn-sm">엑셀</button>
            </div>
          </div>

          <div class="table-responsive" id="div_member_list">
            <!--
                    <table class="table table-hover">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="ID" disabled></th>
                                <th><input type="text" class="form-control" placeholder="순번" disabled></th>
                                <th><input type="text" class="form-control" placeholder="성명" disabled></th>
                                <th><input type="text" class="form-control" placeholder="회비납부" disabled></th>
                                <th><input type="text" class="form-control" placeholder="생년월일" disabled></th>
                                <th><input type="text" class="form-control" placeholder="가입일" disabled></th>
                                <th><input type="text" class="form-control" placeholder="소속(직업)" disabled></th>
                                <th><input type="text" class="form-control" placeholder="비고" disabled></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td>변호사</td>
                                <td>a@b.com</td>
                            </tr>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>               
                    </table>
                    -->
          </div>
        </div>
      </div>
    </div>

    <%- include ("../include/footer.ejs") %>
  </body>
</html>
