<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="register">
      <div class="register_text">
        <span>회원가입</span>
      </div>
      <div class="register_name"><input type="text" placeholder="이름" /></div>
      <div class="register_id"><input type="text" placeholder="아이디" /></div>
      <div class="register_pw">
        <input type="password" placeholder="비밀번호" />
      </div>
      <div class="register_pwCheck">
        <input type="password" placeholder="비밀번호 확인" />
      </div>
      <div class="register_company">
        <input type="text" placeholder="회사" />
      </div>
      <div class="register_recomend">
        <input type="text" placeholder="추천인" />
      </div>
    </div>
  </body>
</html>
