<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../include/declare.ejs") %>
    <script>
      const pay = () => {
        document.getElementsByClassName("pay")[0].style.display = "block";
      };
    </script>
    <style>
      span {
        text-align: left;
        margin-top: 1.2rem;
        color: gray;
      }
      .left {
        width: 610px;
        display: flex;
      }
      td {
        width: 150px;
        padding: 0.8rem;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <%- include ("../include/header.ejs") %>
    <div style="display: flex; height: 550px;">
      <div class="left" style="padding-left: 5rem;">
        <div style="display: flex; flex-direction: column; text-align: left;">
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>ID</span>
            <span>202015</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>성명</span>
            <span>홍길동</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>생년월일</span>
            <span>1945. 3. 22</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>가입일</span>
            <span>2017. 11. 23</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>우편번호</span>
            <span>72492</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>주소</span>
            <span>대구광역시 동구 </span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>전화번호</span>
            <span>053-000-0000</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>휴대전화</span>
            <span>010-0000-1234</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>추천인</span>
            <span>없음</span>
          </div>
          <div
            style="display: flex; width: 400px; justify-content: space-between;"
          >
            <span>회원종류</span>
            <span>일반회원</span>
          </div>
        </div>
      </div>
      <div
        class="right"
        style="
          display: flex;
          flex-direction: column;
          width: 500px;
          justify-content: space-between;
        "
      >
        <div style="border: 1px solid black; float: left; padding: 20px 10px;">
          <table>
            <thead style="text-align: left;">
              회비 납부 현황
            </thead>
            <tr>
              <td>2020년</td>
              <td>2020. 4. 12</td>
              <td>30,000원</td>
              <td><img src="#" /></td>
            </tr>
            <tr>
              <td>2019년</td>
              <td>납부안함</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2018년</td>
              <td>2018. 11. 22</td>
              <td>30,000원</td>
              <td><img src="#" /></td>
            </tr>
            <tr>
              <td>2017년</td>
              <td>2017. 8. 15</td>
              <td>30,000원</td>
              <td><img src="#" /></td>
            </tr>
          </table>
        </div>
        <div
          class="pay"
          style="
            display: none;
            width: 500px;
            background-color: lightgray;
            padding: 2rem;
          "
        >
          <div style="display: flex; justify-content: space-between;">
            <span style="margin: 0; color: black;">회비 납부</span>
            <input style="width: 150px;" type="date" />
            <input style="width: 150px;" type="number" placeholder="금액" />
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2rem;
            "
          >
            <button class="btn btn-primary">저장</button>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        width: 800px;
        justify-content: space-between;
        margin-top: 5rem;
        padding-left: 5rem;
      "
    >
      <button type="button" class="btn btn-primary" style="width: 8rem;">
        정보변경
      </button>
      <button
        onclick="pay()"
        type="button"
        class="btn btn-primary"
        style="width: 8rem;"
      >
        회비 납부
      </button>
    </div>
    <%- include ("../include/footer.ejs") %>
  </body>
</html>
