<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include ("../include/declare.ejs") %>
    
    <script src="/js/member_list.js"></script>

    <style>
        .filterable {
            margin-top: 15px;
        }

        .filterable .panel-heading .pull-right {
            margin-top: -20px;
        }

        .filterable .filters input[disabled] {
            background-color: transparent;
            border: none;
            cursor: auto;
            box-shadow: none;
            padding: 0;
            height: auto;
        }

        .filterable .filters input[disabled]::-webkit-input-placeholder {
            color: #333;
        }

        .filterable .filters input[disabled]::-moz-placeholder {
            color: #333;
        }

        .filterable .filters input[disabled]:-ms-input-placeholder {
            color: #333;
        }
    </style>
 
</head>

<body>

    <%- include ("../include/header.ejs") %>
 
    <div class="container">
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">회원목록</h3>
                </div>
                <div class="row" style="padding: 5px;">
                    <div class="col-4">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="txt_search">검색</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="txt_search">
                        </div>
                    </div>
                    <div class="col-4" style="padding-top: 5px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                회비 미납부 회원11
                            </label>
                        </div>
                    </div>
                    <div class="col-4" style="text-align: right;">
                        <a href="register"><button class="btn btn-primary btn-sm">회원추가</button></a>
                        <button class="btn btn-secondary btn-sm">엑셀</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="ID" disabled></th>
                                <th><input type="text" class="form-control" placeholder="순번" disabled></th>
                                <th><input type="text" class="form-control" placeholder="성명" disabled></th>
                                <th><input type="text" class="form-control" placeholder="회비납부" disabled></th>
                                <th><input type="text" class="form-control" placeholder="생년월일" disabled></th>
                                <th><input type="text" class="form-control" placeholder="가입일" disabled></th>
                                <th><input type="text" class="form-control" placeholder="소속(직업)" disabled></th>
                                <th><input type="text" class="form-control" placeholder="비고" disabled></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td>변호사</td>
                                <td>a@b.com</td>
                            </tr>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>200224</td>
                                <td>1215</td>
                                <td>이소림</td>
                                <td>O</td>
                                <td>79.08.16</td>
                                <td>20.05.29</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>               
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include ("../include/footer.ejs") %>

</body>

</html>